<h1>Listing Items</h1>

<table>
  <thead>
    <tr>
      <th>Menu Items</th>
       <th>Category</th>
    </tr>
  </thead>
  <tbody>
<%= for item <- @items do %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.category.name %></td>
    </tr>
<% end %>
  </tbody>
</table>


